$body-bg: linear-gradient(to right top, #241508, #281708, #2d1a08, #311c08, #351f07, #3a230a, #3e270d, #432b0f, #4a3114, #503719, #573e1e, #5e4423) fixed;

@import "node_modules/spectre.css/src/spectre";

/* gloria-hallelujah-regular - latin */
@font-face {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/gloria-hallelujah-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Gloria Hallelujah'), local('GloriaHallelujah'),
        url('assets/fonts/gloria-hallelujah-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/gloria-hallelujah-v10-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/gloria-hallelujah-v10-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/gloria-hallelujah-v10-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/gloria-hallelujah-v10-latin-regular.svg#GloriaHallelujah') format('svg');
    /* Legacy iOS */
}
